.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

    &::after {
        position: absolute;
        content: "";
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: 5px solid gray;
        border-top-color: rgba(255, 255, 255, 0);
        border-bottom-color: rgba(255, 255, 255, 0);
        animation-name: loadingAnm;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes loadingAnm {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
